In [6]:
import numpy as np
import os 
import pandas as pd
import geopandas as gpd

In [ ]:
# Définir le chemin du répertoire contenant les fichiers .geojson
data_rice_sn_2023 = '../../DATA GEOJSON/'


list_data = []

for filename in os.listdir(data_rice_sn_2023):

    if filename.endswith('.geojson'):
     
        chemin_fichier = os.path.join(data_rice_sn_2023, filename)

        data = gpd.read_file(chemin_fichier)
    
        list_data.append(data)
        
combined_data = gpd.GeoDataFrame(pd.concat(list_data, ignore_index=True))

combined_data["class"] = pd.to_numeric(combined_data['class'], errors='coerce')

In [16]:
combined_data['class'].unique()

array([0, 1])

In [44]:
data_rice_01 = gpd.read_file('../../DATA GEOJSON/rice.geojson')
data_rice_02 = gpd.read_file('../../DATA GEOJSON/rice_2.geojson')

In [53]:
data_rice = pd.concat([data_rice_01, data_rice_02])
data_rice["Renseigner la culture"] = "riz"

In [69]:
other_1 = gpd.read_file('../../DATA GEOJSON/mais.geojson')
other_2 = gpd.read_file('../../DATA GEOJSON/mil.geojson')
other_3 = gpd.read_file('../../DATA GEOJSON/coton.geojson')
other_4 =gpd.read_file('../../DATA GEOJSON/cann_a_sucre.geojson')
other_5 =gpd.read_file('../../DATA GEOJSON/archide_1.geojson')

data_other_2 = pd.concat([other_1, other_2, other_3, other_4, other_5])
data_other_2["Renseigner la culture"]= "other_2"

data_other_2.shape

(104, 4)

In [74]:
other7 = gpd.read_file('../../DATA GEOJSON/rice_others_st_louis.geojson')
other7["Renseigner la culture"] = np.where(other7["class"]== 0 , 'riz', 'other_1')
other7

,class,geometry,Renseigner la culture
0,0,"MULTIPOLYGON (((-16.2533 16.31136, -16.25324 1...",riz
1,0,"MULTIPOLYGON (((-16.25321 16.31129, -16.25003 ...",riz
2,0,"MULTIPOLYGON (((-16.25315 16.30868, -16.25312 ...",riz
3,0,"MULTIPOLYGON (((-16.24966 16.31115, -16.24669 ...",riz
4,0,"MULTIPOLYGON (((-16.24628 16.31272, -16.2434 1...",riz
5,0,"MULTIPOLYGON (((-16.24634 16.31011, -16.24631 ...",riz
6,0,"MULTIPOLYGON (((-16.24632 16.3088, -16.24632 1...",riz
7,0,"MULTIPOLYGON (((-16.23958 16.31135, -16.23606 ...",riz
8,0,"MULTIPOLYGON (((-16.243 16.30889, -16.24296 16...",riz
9,0,"MULTIPOLYGON (((-16.23959 16.3088, -16.23957 1...",riz
10,0,"MULTIPOLYGON (((-16.23603 16.30888, -16.23597 ...",riz
11,0,"MULTIPOLYGON (((-16.23438 16.30887, -16.23434 ...",riz
12,0,"MULTIPOLYGON (((-16.23436 16.30854, -16.23431 ...",riz
13,0,"MULTIPOLYGON (((-16.23594 16.305, -16.23594 16...",riz
14,0,"MULTIPOLYGON (((-16.23429 16.30502, -16.23424 ...",riz
15,0,"MULTIPOLYGON (((-16.27326 16.28132, -16.27084 ...",riz
16,0,"MULTIPOLYGON (((-16.27061 16.28302, -16.26763 ...",riz
17,0,"MULTIPOLYGON (((-16.27044 16.28168, -16.26751 ...",riz
18,0,"MULTIPOLYGON (((-16.27021 16.28028, -16.26727 ...",riz
19,0,"MULTIPOLYGON (((-16.27309 16.27996, -16.27068 ...",riz
20,0,"MULTIPOLYGON (((-16.22949 16.28674, -16.22884 ...",riz
21,0,"MULTIPOLYGON (((-16.2288 16.28686, -16.2282 16...",riz
22,0,"MULTIPOLYGON (((-16.22932 16.28629, -16.22876 ...",riz
23,0,"MULTIPOLYGON (((-16.2287 16.28641, -16.22814 1...",riz
24,0,"MULTIPOLYGON (((-16.22652 16.28816, -16.22601 ...",riz
25,0,"MULTIPOLYGON (((-16.22598 16.28856, -16.22582 ...",riz
26,0,"MULTIPOLYGON (((-16.22579 16.28869, -16.22552 ...",riz
27,0,"MULTIPOLYGON (((-16.22633 16.28797, -16.22536 ...",riz
28,0,"MULTIPOLYGON (((-16.22608 16.28766, -16.22515 ...",riz
29,0,"MULTIPOLYGON (((-16.22569 16.28715, -16.2248 1...",riz
30,0,"MULTIPOLYGON (((-16.2253 16.28667, -16.22449 1...",riz
31,0,"MULTIPOLYGON (((-16.22651 16.28655, -16.22574 ...",riz
32,0,"MULTIPOLYGON (((-16.22604 16.28606, -16.22535 ...",riz
33,0,"MULTIPOLYGON (((-16.22398 16.28508, -16.22334 ...",riz
34,0,"MULTIPOLYGON (((-16.22365 16.28465, -16.22296 ...",riz
35,0,"MULTIPOLYGON (((-16.22331 16.28425, -16.22263 ...",riz
36,0,"MULTIPOLYGON (((-16.22291 16.28377, -16.22225 ...",riz
37,0,"MULTIPOLYGON (((-16.2225 16.2833, -16.22188 16...",riz
38,0,"MULTIPOLYGON (((-16.22208 16.28281, -16.22149 ...",riz
39,0,"MULTIPOLYGON (((-16.10856 16.32006, -16.10835 ...",riz
40,0,"MULTIPOLYGON (((-16.10796 16.31984, -16.10773 ...",riz
41,0,"MULTIPOLYGON (((-16.10862 16.31991, -16.10857 ...",riz
42,0,"MULTIPOLYGON (((-16.10831 16.31978, -16.10827 ...",riz
43,0,"MULTIPOLYGON (((-16.1088 16.31948, -16.10866 1...",riz
44,0,"MULTIPOLYGON (((-16.10845 16.31938, -16.10832 ...",riz
45,0,"MULTIPOLYGON (((-16.10521 16.31499, -16.10399 ...",riz
46,0,"MULTIPOLYGON (((-16.10392 16.31501, -16.10271 ...",riz
47,0,"MULTIPOLYGON (((-16.02312 16.39641, -16.02311 ...",riz
48,0,"MULTIPOLYGON (((-16.0226 16.39639, -16.02257 1...",riz
49,0,"MULTIPOLYGON (((-16.02349 16.39636, -16.02346 ...",riz
50,0,"MULTIPOLYGON (((-16.02351 16.39568, -16.0235 1...",riz
51,0,"MULTIPOLYGON (((-16.02312 16.39569, -16.02311 ...",riz
52,0,"MULTIPOLYGON (((-16.02237 16.39567, -16.02234 ...",riz
53,0,"MULTIPOLYGON (((-16.02316 16.39438, -16.02315 ...",riz
54,1,"MULTIPOLYGON (((-16.23604 16.30877, -16.23448 ...",other_1

In [67]:
other1 = gpd.read_file('../../DATA GEOJSON/build.geojson')
other2 = gpd.read_file('../../DATA GEOJSON/others.geojson')
other3 = gpd.read_file('../../DATA GEOJSON/others2.geojson')
other4 = gpd.read_file('../../DATA GEOJSON/ble.geojson')
other5 = gpd.read_file('../../DATA GEOJSON/soil.geojson')
other6 = gpd.read_file('../../DATA GEOJSON/water.geojson')

data_other_1 = pd.concat([other1,other2, other3, other4, other5,other6])
data_other_1["Renseigner la culture"]= "other_1"

data_other_1.shape

(27403, 12)

In [95]:
rice_data_modele = pd.concat([data_other_1, data_rice, data_other_2, other7])
rice_data_modele

,amplitude,min,median,max,mean,label,class,geometry,longitude_,system:ind,culture,Renseigner la culture
0,5.483552,-11.302441,-7.979455,-5.818889,-8.028811,1.0,1,POINT (-15.69676 16.43742),NaN,NaN,NaN,other_1
1,2.407585,-10.047272,-8.905174,-7.639687,-8.870932,1.0,1,POINT (-15.69667 16.43742),NaN,NaN,NaN,other_1
2,4.357826,-11.85099,-9.571065,-7.493164,-9.490329,1.0,1,POINT (-15.69676 16.43751),NaN,NaN,NaN,other_1
3,2.620834,-9.087441,-7.698924,-6.466608,-7.639681,1.0,1,POINT (-15.69667 16.43751),NaN,NaN,NaN,other_1
4,3.400834,-13.190009,-11.261626,-9.789175,-11.398388,1.0,1,POINT (-15.69676 16.4376),NaN,NaN,NaN,other_1
...,...,...,...,...,...,...,...,...,...,...,...,...
50,NaN,NaN,NaN,NaN,NaN,NaN,0,"MULTIPOLYGON (((-16.02351 16.39568, -16.0235 1...",NaN,NaN,NaN,riz
51,NaN,NaN,NaN,NaN,NaN,NaN,0,"MULTIPOLYGON (((-16.02312 16.39569, -16.02311 ...",NaN,NaN,NaN,riz
52,NaN,NaN,NaN,NaN,NaN,NaN,0,"MULTIPOLYGON (((-16.02237 16.39567, -16.02234 ...",NaN,NaN,NaN,riz
53,NaN,NaN,NaN,NaN,NaN,NaN,0,"MULTIPOLYGON (((-16.02316 16.39438, -16.02315 ...",NaN,NaN,NaN,riz
54,NaN,NaN,NaN,NaN,NaN,NaN,1,"MULTIPOLYGON (((-16.23604 16.30877, -16.23448 ...",NaN,NaN,NaN,other_1

In [96]:
def convert_multipolygon_to_polygon(geometry):
    if geometry.geom_type == 'Polygon':
        return geometry  
    elif geometry.geom_type == 'MultiPolygon':
        return geometry.convex_hull  
    elif geometry.geom_type == 'Point':
        return geometry.buffer(0.1) 
    return geometry  #
# Appliquer la fonction à chaque géométrie de la colonne 'geometry'
rice_data_modele['geometry'] = rice_data_modele['geometry'].apply(convert_multipolygon_to_polygon)

# Afficher le résultat
print(rice_data_modele)

   amplitude        min     median       max       mean  label class  \
0   5.483552 -11.302441  -7.979455 -5.818889  -8.028811    1.0     1
1   2.407585 -10.047272  -8.905174 -7.639687  -8.870932    1.0     1
2   4.357826  -11.85099  -9.571065 -7.493164  -9.490329    1.0     1
3   2.620834  -9.087441  -7.698924 -6.466608  -7.639681    1.0     1
4   3.400834 -13.190009 -11.261626 -9.789175 -11.398388    1.0     1
..       ...        ...        ...       ...        ...    ...   ...
50       NaN        NaN        NaN       NaN        NaN    NaN     0
51       NaN        NaN        NaN       NaN        NaN    NaN     0
52       NaN        NaN        NaN       NaN        NaN    NaN     0
53       NaN        NaN        NaN       NaN        NaN    NaN     0
54       NaN        NaN        NaN       NaN        NaN    NaN     1

                                             geometry longitude_ system:ind  \
0   POLYGON ((-15.59676 16.43742, -15.59724 16.427...        NaN        NaN
1   POLYGON ((-15.59667 16.43742, -15.59715 16.427...        NaN        NaN
2   POLYGON ((-15.59676 16.43751, -15.59724 16.427...        NaN        NaN
3   POLYGON ((-15.59667 16.43751, -15.59715 16.427...        NaN        NaN
4   POLYGON ((-15.59676 16.4376, -15.59724 16.4278...        NaN        NaN
..                                                ...        ...        ...
50  POLYGON ((-16.02318 16.39567, -16.02351 16.395...        NaN        NaN
51  POLYGON ((-16.02268 16.39569, -16.02312 16.395...        NaN        NaN
52  POLYGON ((-16.02237 16.39567, -16.02234 16.396...        NaN        NaN
53  POLYGON ((-16.02246 16.39436, -16.02316 16.394...        NaN        NaN
54  POLYGON ((-16.23599 16.30761, -16.23604 16.308...        NaN        NaN

   culture Renseigner la culture
0      NaN               other_1
1      NaN               other_1
2      NaN               other_1
3      NaN               other_1
4      NaN               other_1
..     ...                   ...
50     NaN                   riz
51     NaN                   riz
52     NaN                   riz
53     NaN                   riz
54     NaN               other_1

[37771 rows x 12 columns]

In [97]:
rice_data_modele["geometry"].isna().sum()

np.int64(0)

In [98]:
rice_data_modele["_id_record"] = pd.RangeIndex(start=1, stop=1 + len(rice_data_modele), step=1)
rice_data_modele

,amplitude,min,median,max,mean,label,class,geometry,longitude_,system:ind,culture,Renseigner la culture,_id_record
0,5.483552,-11.302441,-7.979455,-5.818889,-8.028811,1.0,1,"POLYGON ((-15.59676 16.43742, -15.59724 16.427...",NaN,NaN,NaN,other_1,1
1,2.407585,-10.047272,-8.905174,-7.639687,-8.870932,1.0,1,"POLYGON ((-15.59667 16.43742, -15.59715 16.427...",NaN,NaN,NaN,other_1,2
2,4.357826,-11.85099,-9.571065,-7.493164,-9.490329,1.0,1,"POLYGON ((-15.59676 16.43751, -15.59724 16.427...",NaN,NaN,NaN,other_1,3
3,2.620834,-9.087441,-7.698924,-6.466608,-7.639681,1.0,1,"POLYGON ((-15.59667 16.43751, -15.59715 16.427...",NaN,NaN,NaN,other_1,4
4,3.400834,-13.190009,-11.261626,-9.789175,-11.398388,1.0,1,"POLYGON ((-15.59676 16.4376, -15.59724 16.4278...",NaN,NaN,NaN,other_1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,NaN,NaN,NaN,NaN,NaN,NaN,0,"POLYGON ((-16.02318 16.39567, -16.02351 16.395...",NaN,NaN,NaN,riz,37767
51,NaN,NaN,NaN,NaN,NaN,NaN,0,"POLYGON ((-16.02268 16.39569, -16.02312 16.395...",NaN,NaN,NaN,riz,37768
52,NaN,NaN,NaN,NaN,NaN,NaN,0,"POLYGON ((-16.02237 16.39567, -16.02234 16.396...",NaN,NaN,NaN,riz,37769
53,NaN,NaN,NaN,NaN,NaN,NaN,0,"POLYGON ((-16.02246 16.39436, -16.02316 16.394...",NaN,NaN,NaN,riz,37770
54,NaN,NaN,NaN,NaN,NaN,NaN,1,"POLYGON ((-16.23599 16.30761, -16.23604 16.308...",NaN,NaN,NaN,other_1,37771

In [99]:
rice_data_modele.to_file("../data/INTERNE/data_collection_mission_riz_2023.geojson", driver="GeoJSON")

/Users/clementkm/Documents/JOBS/TOLBI/preprocessing-geospatial-data/env/lib/python3.9/site-packages/pyogrio/geopandas.py:523: UserWarning: GeoSeries.notna() previously returned False for both missing (None) and empty geometries. Now, it only returns False for missing values. Since the calling GeoSeries contains empty geometries, the result has changed compared to previous versions of GeoPandas.
Given a GeoSeries 's', you can use '~s.is_empty & s.notna()' to get back the old behaviour.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', 'GeoSeries.notna', UserWarning)
  has_z_arr = geometry[geometry.notna() & (~geometry.is_empty)].has_z