In [134]:
import  pandas as pd

In [140]:

gedi = pd.read_csv("../data/CSV/gedi.csv")
sentinel_1 = pd.read_csv("../data/CSV/sentinel_1.csv")
sentinel_2 = pd.read_csv("../data/CSV/sentinel_2.csv")

In [141]:
gedi

                x          y  spatial_ref  rh98  rh100        time
0       43.133013  14.736638            0   NaN    NaN  2019-04-01
1       43.133013  14.736548            0   NaN    NaN  2019-04-01
2       43.133013  14.736458            0   NaN    NaN  2019-04-01
3       43.133013  14.736368            0   NaN    NaN  2019-04-01
4       43.133013  14.736278            0   NaN    NaN  2019-04-01
...           ...        ...          ...   ...    ...         ...
617710  43.156728  14.713820            0   NaN    NaN  2019-12-01
617711  43.156728  14.713731            0   NaN    NaN  2019-12-01
617712  43.156728  14.713641            0   NaN    NaN  2019-12-01
617713  43.156728  14.713551            0   NaN    NaN  2019-12-01
617714  43.156728  14.713461            0   NaN    NaN  2019-12-01

[617715 rows x 6 columns]

In [142]:
merged_data_1 = pd.merge(sentinel_2, sentinel_1,on=['time', 'x', 'y'], how='outer')

In [133]:
gedi['time'] = pd.to_datetime(gedi['time'])

# Extraire uniquement la date
gedi['time1'] =gedi['time'].dt.date

AttributeError: Can only use .dt accessor with datetimelike values

In [143]:
merged_data = pd.merge(merged_data_1, gedi,on=['time', 'x', 'y'], how='outer')
merged_data

,time,x,y,spatial_ref_x,B1,B2,B3,B4,B5,B6,...,QA10,QA20,QA60,spatial_ref_y,VV,VH,angle,spatial_ref,rh98,rh100
0,2019-04-01,43.133013,14.713461,0,0.11015,0.1341,0.1907,0.2505,0.28015,0.28080,...,0.0,0.0,0.0,0,-28.419100,-35.611610,38.793743,0,NaN,NaN
1,2019-04-01,43.133013,14.713551,0,0.11015,0.1349,0.1904,0.2545,0.28015,0.28080,...,0.0,0.0,0.0,0,-25.748851,-40.064529,38.793860,0,NaN,NaN
2,2019-04-01,43.133013,14.713641,0,0.11015,0.1353,0.1935,0.2555,0.28190,0.28005,...,0.0,0.0,0.0,0,-25.396408,-39.543929,38.793976,0,NaN,NaN
3,2019-04-01,43.133013,14.713731,0,0.11015,0.1377,0.1911,0.2522,0.28190,0.28005,...,0.0,0.0,0.0,0,-26.738632,-41.050433,38.794094,0,NaN,NaN
4,2019-04-01,43.133013,14.713820,0,0.11155,0.1368,0.1912,0.2522,0.28065,0.27845,...,0.0,0.0,0.0,0,-25.922146,-36.381680,38.794212,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617710,2019-12-01,43.156728,14.736278,0,0.07950,0.1024,0.1610,0.2014,0.24310,0.28220,...,0.0,0.0,0.0,0,-14.117384,-21.061189,38.816820,0,NaN,NaN
617711,2019-12-01,43.156728,14.736368,0,0.07950,0.1056,0.1636,0.2040,0.24310,0.28220,...,0.0,0.0,0.0,0,-14.404095,-21.227540,38.816940,0,NaN,NaN
617712,2019-12-01,43.156728,14.736458,0,0.07950,0.1054,0.1606,0.2058,0.24120,0.28390,...,0.0,0.0,0.0,0,-14.275190,-22.969476,38.817055,0,NaN,NaN
617713,2019-12-01,43.156728,14.736548,0,0.07950,0.1068,0.1620,0.2070,0.24120,0.28390,...,0.0,0.0,0.0,0,-15.909888,-22.485353,38.817170,0,NaN,NaN
617714,2019-12-01,43.156728,14.736638,0,0.07950,0.1086,0.1624,0.2090,0.24410,0.28300,...,0.0,0.0,0.0,0,-16.155559,-20.086534,38.817290,0,NaN,NaN

In [146]:
merged_data = merged_data.dropna(subset=['rh98'], axis=0)

merged_data

,time,x,y,spatial_ref_x,B1,B2,B3,B4,B5,B6,...,QA10,QA20,QA60,spatial_ref_y,VV,VH,angle,spatial_ref,rh98,rh100
69517,2019-05-01,43.133282,14.722893,0,0.11810,0.1436,0.1980,0.2579,0.28650,0.28455,...,0.0,0.0,0.0,0,-26.111400,-29.975774,40.656174,0,2.47,3.18
69518,2019-05-01,43.133282,14.722983,0,0.11810,0.1438,0.1997,0.2589,0.28650,0.28455,...,0.0,0.0,0.0,0,-26.658973,-42.396477,40.656290,0,2.47,3.18
69776,2019-05-01,43.133372,14.722893,0,0.11810,0.1452,0.1990,0.2577,0.28650,0.28455,...,0.0,0.0,0.0,0,-24.532608,-31.742374,40.656723,0,2.47,3.18
69777,2019-05-01,43.133372,14.722983,0,0.11810,0.1437,0.1963,0.2577,0.28650,0.28455,...,0.0,0.0,0.0,0,-27.305188,-42.055486,40.656837,0,2.47,3.18
70035,2019-05-01,43.133462,14.722893,0,0.11700,0.1430,0.1989,0.2585,0.28700,0.28465,...,0.0,0.0,0.0,0,-23.288867,-37.264314,40.657272,0,2.47,3.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480130,2019-10-01,43.156638,14.731697,0,0.09555,0.1211,0.1759,0.2407,0.26850,0.27165,...,0.0,0.0,0.0,0,-19.847282,-29.566361,38.809494,0,2.76,3.55
480131,2019-10-01,43.156638,14.731787,0,0.09555,0.1193,0.1738,0.2358,0.26850,0.27165,...,0.0,0.0,0.0,0,-18.581744,-27.462784,38.809610,0,2.76,3.55
480383,2019-10-01,43.156728,14.731158,0,0.09455,0.1244,0.1816,0.2440,0.27495,0.27650,...,0.0,0.0,0.0,0,-20.890253,-29.349246,38.808765,0,2.54,3.29
480384,2019-10-01,43.156728,14.731248,0,0.09455,0.1236,0.1795,0.2440,0.27495,0.27650,...,0.0,0.0,0.0,0,-21.794770,-32.179702,38.808884,0,2.54,3.29
480385,2019-10-01,43.156728,14.731338,0,0.09555,0.1284,0.1831,0.2500,0.26755,0.27070,...,0.0,0.0,0.0,0,-21.769242,-31.497450,38.809002,0,2.54,3.29